@model Basecode.Data.ViewModels.ApplicantViewModel

@{
    ViewData["Title"] = "Confirmation";
}

<div class="container d-flex flex-column align-items-center justify-content-center mt-5 mb-5" style="width: 800px">
    <div class="container d-flex flex-row align-items-start justify-content-center gap-2 mb-2">
        <div class="d-flex flex-row align-items-center justify-content-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#EC3123" class="bi bi-check-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
            </svg>
            <p class="mb-0">Personal Information</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#424856" class="bi bi-chevron-right mt-1" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
        </svg>
            <div class="d-flex flex-row align-items-center justify-content-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#EC3123" class="bi bi-check-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                </svg>
                <p class="mb-0">References</p>
            </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#424856" class="bi bi-chevron-right mt-1" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
        </svg>
        <div class="d-flex flex-column align-items-center justify-content-start">
            <div class="d-flex flex-row align-items-center justify-content-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#EC3123" class="bi bi-3-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0Zm-8.082.414c.92 0 1.535.54 1.541 1.318.012.791-.615 1.36-1.588 1.354-.861-.006-1.482-.469-1.54-1.066H5.104c.047 1.177 1.05 2.144 2.754 2.144 1.653 0 2.954-.937 2.93-2.396-.023-1.278-1.031-1.846-1.734-1.916v-.07c.597-.1 1.505-.739 1.482-1.876-.03-1.177-1.043-2.074-2.637-2.062-1.675.006-2.59.984-2.625 2.12h1.248c.036-.556.557-1.054 1.348-1.054.785 0 1.348.486 1.348 1.195.006.715-.563 1.237-1.342 1.237h-.838v1.072h.879Z" />
                </svg>
                <p class="mb-0" style="color: #EC3123;">Confirmation</p>
            </div>
            <hr class="container opacity-100" style="height: 5px; color: #EC3123;" />
        </div>
    </div>
    <div class="container d-flex align-items-center justify-content-start mb-2">
        Please ensure that you carefully review the  correctness of all the provided data before submitting the application form.
    </div>
    <form asp-controller="PublicApplication" asp-action="Create" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" name="jobId" value="@TempData["JobOpeningId"]" />
        <div class="container d-flex flex-column align-items-center justify-content-center mb-2" style="width: 800px;">
            <h5 class="mb-3">
                Personal Information
            </h5>
            <div class="container">
                <div class="row align-items-center justify-content-center text-end mb-4">
                    <div class="col-sm-2">
                        <p class="mb-0">Name</p>
                    </div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control border border-0" value="@Model.Firstname @Model.Middlename @Model.Lastname" style="background-color: #F3F4F6; color: #BDC1CA;" readonly>
                        <input type="hidden" asp-for="Firstname" value="@Model.Firstname" />
                        <input type="hidden" asp-for="Middlename" value="@Model.Middlename" />
                        <input type="hidden" asp-for="Lastname" value="@Model.Lastname" />
                    </div>
                </div>
                <div class="row align-items-center justify-content-center text-end mb-4">
                    <div class="col-sm-2">
                        <p class="mb-0">Birthdate</p>
                    </div>
                    <div class="col-sm-10">
                        <input type="text" asp-for="Birthdate" class="form-control border border-0" value="@Model.Birthdate" style="background-color: #FEF2F1; color: #F58980;" readonly>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center text-end mb-4">
                    <div class="col-sm-2">
                        <p class="mb-0">Age</p>
                    </div>
                    <div class="col-sm-10">
                        <input type="text" asp-for="Age" class="form-control border border-0" value="@Model.Age" style="background-color: #F3F4F6; color: #BDC1CA;" readonly>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center text-end mb-4">
                    <div class="col-sm-2">
                        <p class="mb-0">Gender</p>
                    </div>
                    <div class="col-sm-10">
                        <input type="text" asp-for="Gender" class="form-control border border-0" value="@Model.Gender" style="background-color: #FEF2F1; color: #F58980;" readonly>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center text-end mb-4">
                    <div class="col-sm-2">
                        <p class="mb-0">Nationality</p>
                    </div>
                    <div class="col-sm-10">
                        <input type="text" asp-for="Nationality" class="form-control border border-0" value="@Model.Nationality" style="background-color: #F3F4F6; color: #BDC1CA;" readonly>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center text-end mb-4">
                    <div class="col-sm-2">
                        <p class="mb-0">Address</p>
                    </div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control border border-0" value="@Model.Street, @Model.City, @Model.Province @Model.Zip" style="background-color: #FEF2F1; color: #F58980;" readonly>
                        <input type="hidden" asp-for="Street" value="@Model.Street" />
                        <input type="hidden" asp-for="City" value="@Model.City" />
                        <input type="hidden" asp-for="Province" value="@Model.Province" />
                        <input type="hidden" asp-for="Zip" value="@Model.Zip" />
                    </div>
                </div>
                <div class="row align-items-center justify-content-center text-end mb-4">
                    <div class="col-sm-2">
                        <p class="mb-0">Phone</p>
                    </div>
                    <div class="col-sm-10">
                        <input type="text" asp-for="Phone" class="form-control border border-0" value="@Model.Phone" style="background-color: #F3F4F6; color: #BDC1CA;" readonly>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center text-end mb-4">
                    <div class="col-sm-2">
                        <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-10">
                        <input type="text" asp-for="Email" class="form-control border border-0" value="@Model.Email" style="background-color: #FEF2F1; color: #F58980;" readonly>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center text-end mb-3">
                    <div class="col-sm-2">
                        <p class="mb-0">CV</p>
                    </div>
                    <div class="col-sm-10">
                        <div class="d-flex column-gap-2">
                            <input type="text" class="form-control" style="background-color: #F3F4F6; color: #BDC1CA; border: dashed;" value="@TempData["FileName"]" readonly>
                            <input type="hidden" asp-for="CV" value="@TempData["FileData"]" />
                        </div>
                    </div>
                </div>
            </div>
            <hr class="container opacity-100" style="height: 1px; color: #424856;" />
            <h5 class="mb-3">
                Character References
            </h5>
            @for(int i = 0; i < Model.CharacterReferences.Count; i++)
            {
                var characterReference = Model.CharacterReferences[i];
                if (characterReference.Name == null || characterReference.Address == null || characterReference.Email == null)
                {
                    continue;
                }
                <div class="container">
                    <div class="row align-items-center justify-content-center text-end mb-3">
                        <div class="col-sm-2">
                            <p class="mb-0">Name</p>
                        </div>
                        <div class="col-sm-10">
                            <div class="d-flex column-gap-2">
                                <input type="text" asp-for="CharacterReferences[i].Name" class=" form-control border border-0" style="background-color: #F3F4F6; color: #BDC1CA;" value="@Model.CharacterReferences[i].Name" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center justify-content-center text-end mb-3">
                        <div class="col-sm-2">
                            <p class="mb-0">Address</p>
                        </div>
                        <div class="col-sm-10">
                            <div class="d-flex column-gap-2">
                                <input type="text" asp-for="CharacterReferences[i].Address" class="form-control border border-0" style="background-color: #FEF2F1; color: #F58980;" value="@Model.CharacterReferences[i].Address" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center justify-content-center text-end mb-4">
                        <div class="col-sm-2">
                            <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-10">
                            <div class="d-flex column-gap-2">
                                <input type="text" asp-for="CharacterReferences[i].Email" class="form-control border border-0" style="background-color: #F3F4F6; color: #BDC1CA;" value="@Model.CharacterReferences[i].Email" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="container d-flex flex-row align-items-centeratio justify-content-between">
                <a href="#" onclick="history.back();">
                    <button type="button" class="btn" style="background-color: #EC3123; color:white; width: 100px;">Back</button>
                </a>
                    <button type="submit" class="btn" style="background-color: #EC3123; color:white; width: 100px;">Submit</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
