@using Basecode.Data.ViewModels
@model List<UserViewModel>

@{
    Layout = "/Views/Shared/_Admin.cshtml";
}

@*Add font awesome for this page*@
<script src="https://kit.fontawesome.com/d1f67a892f.js" crossorigin="anonymous"></script>
@*Add stylesheet for the User List*@
<link rel="stylesheet" href="~/css/user/UserList.css" />
@*Add stylesheet for the modals*@
<link rel="stylesheet" href="~/css/user/UserModal.css" />
@*Add external JavaScript file*@
<script src="~/js/user/index.js"></script>

<div class="container-fluid d-flex justify-content-center mt-5">
    <h1>Users List</h1>
</div>

<div class="container mt-5">
    <div class="row">
        @*Search filter*@
        <div class="col-2">
            <form>
                <div class="form-group">
                    <div class="position-relative">
                        <input type="text" class="form-control pl-5" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search users...">
                        <i class="fas fa-search search-icon"></i>
                    </div>
                </div>
            </form>

        </div>

        @*Button filters*@
        <div class="col">
            <a class="btn btn-primary" role="button">All</a>
            <a class="btn btn-primary" role="button">Human Resources</a>
            <a class="btn btn-primary" role="button">Deployment Team</a>
        </div>

        @*Add new user button*@
        <div class="d-flex col-2 justify-content-md-end">
            <a class="btn btn-primary" role="button" onclick="showAddModal()"><i class="fa-solid fa-user-plus"></i> ADD USER</a>
        </div>
    </div>

    @*Table*@
    <div class="row">
        <div class="col">
            <table class="table table-striped text-center align-middle mt-2 overflow-hidden">
                @*Table header*@
                <tr>
                    <th>User ID</th>
                    <th>Role</th>
                    <th>Full Name</th>
                    <th>Username</th>
                    <th>Email Address</th>
                    <th></th>
                    <th></th>
                </tr>

                @if (Model.Count() > 0)
                {
                   @*Add the table rows*@
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.Id</td>
                            <td>@user.Role</td>
                            <td>@user.Fullname</td>
                            <td>@user.Username</td>
                            <td>@user.Email</td>
                            <td><a class="btn btn-edit" role="button" onclick="showEditModal(@user.Id)"><i class="fa-regular fa-pen-to-square icon-white"></i> EDIT</a></td>
                            <td><a class="btn btn-delete" role="button" onclick="showDeleteModal(@user.Id)"><i class="fa-solid fa-trash-can icon-white"></i> DELETE</a></td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="7" class="text-center">No Users Found</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<div id="addModalContainer"></div>
<div id="editModalContainer"></div>
<div id="deleteModalContainer"></div>
