@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // Define a dynamic list of users
    var users = new List<dynamic>
    {
        new { UserId = 0, Role = "HR", FullName = "Rick Deckard", Username = "replicant01", Email = "philipkdick@android.com" },
        new { UserId = 1, Role = "DT", FullName = "Niander Wallace", Username = "nexus6", Email = "wallace@nexus.com" },
        new { UserId = 2, Role = "HR", FullName = "Eldon Tyrell", Username = "tyrellcorp", Email = "tyrell@offworld.com" },
        new { UserId = 3, Role = "DT", FullName = "Miguel O'Hara", Username = "canonlover", Email = "dorito@spider.com" }
    };
}

<div class="container-fluid d-flex justify-content-center">
    <h1>Users List</h1>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-2">
            <form>
                <input type="text" class="form-control" placeholder="Search users...">
            </form>
        </div>
        <div class="col">
            <a class="btn btn-primary" role="button">All</a>
            <a class="btn btn-primary" role="button">Human Resources</a>
            <a class="btn btn-primary" role="button">Deployment Team</a>
        </div>

        <div class="d-flex col-2 justify-content-md-end">
            <a class="btn btn-primary" role="button" data-bs-toggle="modal" data-bs-target="#registerModal"><i class="fa-solid fa-user-plus"></i> ADD USER</a>
        </div>
    </div>

    <div class="row">
        <div class="col">
                <table class="table table-striped border text-center align-middle mt-2">
                    <tr>
                        <th>User ID</th>
                        <th>Role</th>
                        <th>Full Name</th>
                        <th>Username</th>
                        <th>Email Address</th>
                        <th></th>
                        <th></th>
                    </tr>

                @foreach (var user in users)
                {
                    <tr>
                        <td>@user.UserId</td>
                        <td>@user.Role</td>
                        <td>@user.FullName</td>
                        <td>@user.Username</td>
                        <td>@user.Email</td>
                        <td><a class="btn btn-primary" role="button"><i class="fa-regular fa-pen-to-square icon-white"></i> EDIT</a></td>
                        <td><a class="btn btn-primary" role="button"><i class="fa-solid fa-trash-can icon-white"></i> DELETE</a></td>
                    </tr>
                }
                </table>
        </div>
    </div>
</div>