@{
    ViewData["Title"] = "Character Reference Form";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Character Reference Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <div class="container d-flex flex-column align-items-center justify-content-center row-gap-5 mt-5" style="width: 710px">
        <div class="d-flex flex-row align-items-start justify-content-center column-gap-2">
            <div class="d-flex flex-column align-items-center justify-content-start row-gap-1">
                <div class="d-flex flex-row align-items-center justify-content-center column-gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#EC3123" class="bi bi-check-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                    </svg>
                    <p class="mb-0">Personal Information</p>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#424856" class="bi bi-chevron-right mt-1" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
            </svg>
            <div class="d-flex flex-column align-items-center justify-content-start row-gap-1">
                <div class="d-flex flex-row align-items-center justify-content-center column-gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#EC3123" class="bi bi-2-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM6.646 6.24c0-.691.493-1.306 1.336-1.306.756 0 1.313.492 1.313 1.236 0 .697-.469 1.23-.902 1.705l-2.971 3.293V12h5.344v-1.107H7.268v-.077l1.974-2.22.096-.107c.688-.763 1.287-1.428 1.287-2.43 0-1.266-1.031-2.215-2.613-2.215-1.758 0-2.637 1.19-2.637 2.402v.065h1.271v-.07Z" />
                    </svg>
                    <p class="mb-0" style="color: #EC3123;">References</p>
                </div>
                <hr class="container opacity-100" style="height: 5px; color: #EC3123;" />
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#424856" class="bi bi-chevron-right mt-1" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
            </svg>
            <div class="d-flex flex-row align-items-center justify-content-center column-gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#EC3123" class="bi bi-3-circle" viewBox="0 0 16 16">
                    <path d="M7.918 8.414h-.879V7.342h.838c.78 0 1.348-.522 1.342-1.237 0-.709-.563-1.195-1.348-1.195-.79 0-1.312.498-1.348 1.055H5.275c.036-1.137.95-2.115 2.625-2.121 1.594-.012 2.608.885 2.637 2.062.023 1.137-.885 1.776-1.482 1.875v.07c.703.07 1.71.64 1.734 1.917.024 1.459-1.277 2.396-2.93 2.396-1.705 0-2.707-.967-2.754-2.144H6.33c.059.597.68 1.06 1.541 1.066.973.006 1.6-.563 1.588-1.354-.006-.779-.621-1.318-1.541-1.318Z" />
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Z" />
                </svg>
                <p class="mb-0">Confirmation</p>
            </div>
        </div>
        <form method="post" asp-controller="ConfirmationForm" asp-action="Index">
            <input type="hidden" name="name" value="@TempData["Name"]" />
            <input type="hidden" name="birthdate" value="@TempData["Birthdate"]" />
            <input type="hidden" name="age" value="@TempData["Age"]" />
            <input type="hidden" name="genderFinal" value="@TempData["Gender"]" />
            <input type="hidden" name="nationalityFinal" value="@TempData["Nationality"]" />
            <input type="hidden" name="address" value="@TempData["Address"]" />
            <input type="hidden" name="phone" value="@TempData["Phone"]" />
            <input type="hidden" name="email" value="@TempData["Email"]" />
        <div class="container d-flex flex-column align-items-center justify-content-center" style="width: 700px;">
            <div class="container d-flex align-items-center justify-content-start mb-4">
                <h2>Character References</h2>
            </div>
            <div class="container" id="duplicateSection">
                <div class="row align-items-center justify-content-center text-end mb-4">
                    <div class="col-sm-2">
                        <p class="mb-0">Name</p>
                    </div>
                    <div class="col-sm-10">
                        <div class="d-flex column-gap-2">
                            <input type="text" class="form-control" placeholder="Full name" style="border: 1px solid #424856;" name="referenceName">
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center text-end mb-4">
                    <div class="col-sm-2">
                        <p class="mb-0">Address</p>
                    </div>
                    <div class="col-sm-10">
                        <div class="d-flex column-gap-2">
                            <input type="text" class="form-control" placeholder="Street Address" style="border: 1px solid #424856;" name="referenceAddress">
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center text-end mb-4">
                    <div class="col-sm-2">
                        <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-10">
                        <div class="d-flex column-gap-2 align-items-center justify-content-center">
                            <input type="email" class="form-control" placeholder="example@domain.com" style="border: 1px solid #424856;" name="referenceEmail">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container d-flex align-items-center justify-content-center mb-4">
                <a onclick="duplicateSection()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#EC3123" class="bi bi-plus-square" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>
                </a>
            </div>
            <div class="container d-flex flex-row align-items-centeratio justify-content-between mb-4">
                <a href="#" onclick="history.back();">
                    <button type="button" class="btn" style="background-color: #EC3123; color:white; width: 100px;">Back</button>
                </a>
                    <button type="submit" class="btn" style="background-color: #EC3123; color:white; width: 100px;">Next ></button>
            </div>
        </div>
        </form>
    </div>
    <script>
        // Function to duplicate a section in an HTML document
        function duplicateSection() {
            // Get the section to be duplicated by its ID
            var section = document.getElementById("duplicateSection");

            // Create a deep clone of the section
            var clone = section.cloneNode(true);

            // Create a horizontal rule element
            var hr = document.createElement("hr");
            hr.className = "container opacity-100";
            hr.style.height = "1px";
            hr.style.color = "#424856";

            // Adjust the margin of the cloned section
            clone.style.marginTop = "1.5rem";

            // Insert the cloned section after the original section
            section.parentNode.insertBefore(clone, section.nextSibling);

            // Insert the horizontal rule after the cloned section
            section.parentNode.insertBefore(hr, clone);
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
